[Desktop Entry]
Name=Chromium (Wayland)
Exec=env OZONE_PLATFORM=wayland chromium --ozone-platform=wayland
Terminal=false
Type=Application
Categories=Network;WebBrowser;
